.container {
    padding: 25px;
    h1 {
        margin-bottom: 45px;
    }

    h5 {
        margin-bottom: 25px;
        font-weight: bold;
    }

    span {
        span {
            font-weight: bold;
            text-decoration: underline;
        }
    }

    a {
        text-decoration: underline;
    }
}